.body-container {
  font-family: 'Droid Serif', serif;
  /*font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;*/
  max-width: 800px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.5em;
  font-size: 14px;
  color: #2f2f2f;
  background-color: #f9f7f1;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

.title {
  position: relative;
  left: -10em;
  margin-bottom: 5em;
  text-decoration-line: underline;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.anagram {
  letter-spacing: 1em;
}

.top-answer {
  border-top: black solid 2px;
}

.top-answers-container {
  display:inline-block;
  vertical-align: top;
}

.history-container {
  display:inline-block;
  margin-right: 5em;
}

.separator {
  border-top: 1px solid black;
}

.last-answer {
  font-size: xx-large;
  font-weight: bold;
}
